<div class="well">
  <%= f.input :name %>
  <%= f.input :slug %>

  <% if f.object.new_record? %>
    <%= f.input :kind, :collection => non_whitehall_formats.map { |s| [s.humanize, s]}, :as => :select, :class => "span6", :prompt => "Select a kind" %>
  <% end %>

  <input type="hidden" name="artefact[sections][]" value="" />
  <%= f.inputs do %>
  <% @tags.each do |type, tags| %>
  <div class="fieldset-section tag <%= type.to_s %>-tags <%= "hidden" unless f.object.kind == type.to_s  %>">
    <label class="" for="artefact[<%= type %>][]"><%= type.to_s.humanize %> category</label>
    <div class="nested-item-group">
      <div class="row-fluid nested-item">
        <% if f.object.send("#{type}_ids").length > 0 %>
        <% f.object.send("#{type}_ids").each do |tag_id| %>
        <%= render :partial => 'tag_section', :locals => {:tag_id => tag_id, :tag_collection => tags, :type => type} %>
        <% end %>
        <% else %>
        <%= render :partial => 'tag_section', :locals => {:tag_id => nil, :tag_collection => tags, :type => type} %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
  
  <%= f.input :owning_app, :as => :hidden, :input_html => {:value => "publisher"} %>

  <%= f.input :live_at,
              :label => 'Make live at',
              :hint => "In format yyyy-mm-dd hh:mm (24 hour clock)",
              :input_html => { :class => "span6", :disabled => f.object.live?, 'data-format' => 'yyyy-mm-dd hh:mm', :value => artefact.live_at.try(:strftime, "%Y-%m-%d %H:%m") } %>

</div>