<div class="well">
  <%= f.input :name %>
  <%= f.input :slug %>

  <% if f.object.new_record? %>
    <%= f.input :kind, :collection => non_whitehall_formats.map { |s| [s.humanize, s]}, :as => :select, :class => "span6", :prompt => "Select a kind" %>
  <% end %>

  <%= f.input :owning_app, :as => :hidden, :input_html => {:value => "publisher"} %>

  <%= f.input :live_at,
              :label => 'Make live at',
              :hint => "In format yyyy-mm-dd hh:mm (24 hour clock)",
              :input_html => { :class => "span6", :disabled => f.object.live?, 'data-format' => 'yyyy-mm-dd hh:mm', :value => artefact.live_at.try(:strftime, "%Y-%m-%d %H:%m") } %>

</div>