<div class="well">
  <%= f.inputs "Related content" do %>
    <div class="related-artefacts fieldset-section">
      <label class="section-label">Related artefacts <span class="hint">(click and drag to reorder)</span></label>

      <p class="lead text-error"><strong>Editing of related artefacts is currently disabled.</strong></p>

      <%# Disable the related artefact inputs because they're now too large to render %>
      <% if false %>

      <div class="nested-item-group related-artefact-group">
        <% if f.object.related_artefact_ids.length > 0 %>
          <% f.object.related_artefact_ids.each do |related_artefact_id| %>
            <%= render :partial => 'related_artefact', :locals => { related_artefact_id: related_artefact_id, is_template: false } %>
          <% end %>
        <% else %>
          <%= render :partial => 'related_artefact', :locals => { related_artefact_id: nil, is_template: false } %>
        <% end %>
      </div>

      <%= render :partial => 'related_artefact', :locals => { related_artefact_id: nil, is_template: true } %>
      <button id="add-related" class="btn btn-success" type="button">Add another related item</button>

      <% end %><%# if false %>
    </div>

    <div class="related-external-links fieldset-section">
      <label class="section-label">Related external links</label>

      <%= f.fields_for :external_links do |link| %>
        <div class="row-fluid nested-item">
          <div class="span4">
            <%= link.label :title, "Title" %>
            <%= link.text_field :title, :class => "span12" %>
          </div>
          <div class="span5">
            <%= link.label :url, "URL" %>
            <%= link.text_field :url, :class => "span12" %>
          </div>
          <div class="span3">
            <br>
            <%= link.link_to_remove "Remove this URL", :class => "remove-row" %>
          </div>
        </div>
      <% end %>
      <%= f.link_to_add "Add related external link", :external_links, :class => "btn btn-success" %>
    </div>
  <% end %>
</div>
