<div class="well">
  <%= f.inputs "Tags" do %>
    <div class="section-tags fieldset-section">
      <label for="artefact[sections][]" class="section-label">Sections</label>

      <p>The first section will be the primary section the content lives in. This will form the content breadcrumb.</p>
      <div class="nested-item-group">
        <% if f.object.section_ids.length > 0 %>
          <% f.object.section_ids.each do | section_id | %>
            <%= render :partial => 'artefact_section', :locals => {:section_id => section_id, :tag_collection => tag_collection} %>
          <% end %>
        <% else %>
          <%= render :partial => 'artefact_section', :locals => {:section_id => nil, :tag_collection => tag_collection} %>
        <% end %>
      </div>

      <button id="add-section" class="btn btn-success" type="button">Add another section</button>
    </div>

    <div class="legacy-source-tags fieldset-section">
      <label for="artefact_legacy_source_ids" class="section-label">Legacy sources</label>

      <%= f.input :legacy_source_ids,
                  :label => false,
                  :collection => options_for_tags_of_type('legacy_source'),
                  :input_html => { :multiple => true, :class => "chzn-select" } %>
    </div>

    <div class="specialist-sector-tags fieldset-section">
      <label for="artefact_specialist_sector_ids" class="section-label">Specialist sectors</label>

      <%= f.input :specialist_sector_ids,
                  :label => false,
                  :collection => grouped_options_for_tags_of_type('specialist_sector'),
                  :input_html => { :multiple => true, :class => "chzn-select" } %>
    </div>

    <div class="organisation-tags fieldset-section">
      <label for="artefact_organisation_ids" class="section-label">Organisations</label>

      <%= f.input :organisation_ids,
                  :label => false,
                  :collection => options_for_tags_of_type('organisation'),
                  :input_html => { :multiple => true, :class => "chzn-select" } %>
    </div>
  <% end %>
</div>
