<div class="well">
  <div class="fieldset-section <%= "hidden" unless f.object.kind == "person" && f.object.person_ids.include?("team") %>">
    <%= f.label "team", class: 'control-label section-label' %>
    <div class="controls" id="artefact_team_input">
      <%= text_field_tag :team, "", {
        :class => "team-tags",
        :autocomplete => "off"
        } %>
    </div>
  </div>

  <div class="gds-specific hidden">
    <label for="artefact[sections][]">Sections</label>
    <p>The first section will be the primary section the content lives in. This will form the content breadcrumb.</p>
    <% if f.object.section_ids.length > 0 %>
      <% f.object.section_ids.each do | section_id | %>
        <%= render :partial => 'artefact_section', :locals => {:section_id => section_id, :tag_collection => tag_collection} %>
      <% end %>
    <% else %>
      <%= render :partial => 'artefact_section', :locals => {:section_id => nil, :tag_collection => tag_collection} %>
    <% end %>

    <button id="add-section" class="btn btn-success" type="button">Add another section</button>
  </div>

  <div class="fieldset-section">
    <%= f.label "keywords", class: 'control-label section-label' %>
    <div class='controls' id='keyword-controls'>
      <%= text_field_tag :keywords, "", {
        :class => "keyword-tags",
        :disabled => !current_user.permissions.include?("keywords"),
        :autocomplete => "off"
        } %>
    </div>
  </div>

</div>
