<%= content_for :page_title, "Editing #{@tag.tag_type.humanize.downcase}: #{@tag.title}" %>
<header class="artefact-header">
  <div class="artefact-title">
    <h1><%= @tag.tag_type.humanize %>: <%= @tag.title %></h1>
    <h2>
      <% if @tag.live? %>
        <%= link_to public_tag_path(@tag), public_tag_url(@tag) %>
      <% else %>
        <%= public_tag_path(@tag) %>
      <% end %>
      <span class="state state-<%= @tag.state %>"><%= @tag.state %></span>
    </h2>
  </div>
</header>

<div class="row">
  <div class="col-md-9">

    <%= semantic_form_for @tag do |f| %>
      <% if f.object.errors.count > 0 %>
        <div class="form-errors">
          <ul>
            <% f.object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="well">
        <%= f.input :title, input_html: { class: "input-md-5" } %>

        <%= f.input :description, as: :text,
                                  input_html: {
                                    rows: 4,
                                    class: "input-md-8"
                                  }
                                  %>
      </div>

      <% if @tag.live? %>
        <div class="take-care">
          Take care! This change will appear immediately to users.
          If you're not sure about something, please ask a developer.
        </div>
      <% end %>

      <div class="form-actions">
        <%= f.submit :value => "Save this #{@tag.tag_type.humanize.downcase}", :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="col-md-3">
    <% if @tag.can_publish? %>
      <div class="well">
        <p>Publishing this tag will make it appear live on the site to users. Once you publish a tag, it can't be unpublished.</p>

        <%= button_to "Publish this #{@tag.tag_type.humanize.downcase}", publish_tag_path, method: :post, class: 'btn btn-danger' %>
      </div>
    <% end %>
  </div>
</div>
