<%= content_for :page_title, "Editing #{@tag.tag_type.humanize.downcase}: #{@tag.title}" %>
<header class="artefact-header">
  <div class="artefact-title">
    <h1><%= @tag.tag_type.humanize %>: <%= @tag.title %></h1>
    <h2>
      <%= link_to public_tag_path(@tag), public_tag_url(@tag) %>
    </h2>
  </div>
</header>

<%= semantic_form_for @tag do |f| %>
  <% if f.object.errors.count > 0 %>
    <div class="form-errors">
      <ul>
        <% f.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="span10">

      <div class="well">
        <%= f.input :title, input_html: { class: "span5" } %>

        <%= f.input :description, as: :text,
                                  input_html: {
                                    rows: 4,
                                    class: "span8"
                                  }
                                  %>
      </div>
    </div>
  </div>


  <% if @curated_list.present? %>
    <%= render partial: 'curated_list', locals: { f: f } %>
  <% end %>

  <div class="alert alert-info">Take care! All changes to tags appear immediately to users. If you're not sure what you're doing, please ask a developer.</div>

  <div class="form-actions">
    <%= f.submit :value => "Save this #{@tag.tag_type.humanize.downcase}", :class => "btn btn-primary" %>
  </div>
<% end %>
