<p><%= link_to "Add a new tag", new_tag_path, class: 'btn' %></p>

<table class="table table-striped table-bordered table-condensed" id="tags-list" summary="List of tags">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Tag ID</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>
  <% @parents.each do |parent, children| %>
    <tr class="parent">
      <td><%= parent.title %></td>
      <td><%= link_to parent.tag_id, public_tag_url(parent) %></td>
      <td><%= parent.tag_type.humanize.downcase %></td>
      <td><%= link_to 'edit', edit_tag_path(parent) %> <%= link_to "add child", new_tag_path(type: parent.tag_type, parent_id: parent.tag_id) %></td>
    </tr>
    <% children.each do |tag| %>
      <tr>
        <td><%= tag.title %></td>
        <td><%= link_to tag.tag_id, public_tag_url(tag) %></td>
        <td><%= tag.tag_type.humanize.downcase %></td>
        <td><%= link_to 'edit', edit_tag_path(tag) %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
