<%= content_for :page_title, "Tags" %>
<header class="page-header with-actions">
  <h1>All tags</h1>
</header>

<ul class="tags-list list-unstyled">
  <% @parents.each do |parent, children| %>
    <li class="parent-tag">
      <div class="details">
        <h2>
          <span class="tag-type"><%= parent.tag_type.humanize %>:</span>
          <%= link_to parent.title, tag_path(parent) %>
          <% if parent.draft? %>
            <span class="draft">draft</span>
          <% end %>
        </h2>
      </div>

      <ul class="children list-unstyled">
        <% children.each do |tag| %>
          <li class="child-tag">
            <h3>
              <%= link_to tag.title, tag_path(tag) %>
              <%= link_to tag.tag_id, public_tag_url(tag), class: 'tag-id text-muted' %>
              <% if tag.draft? %>
                <span class="draft">draft</span>
              <% end %>
            </h3>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
