<%= content_for :page_title, "Tags" %>
<header class="page-header with-actions">
  <h1>All tags</h1>

  <p class="actions">
    <%= link_to new_tag_path, class: 'btn btn-primary' do %>
      <i class="glyphicon glyphicon-plus"></i> Add new tag
    <% end %>
  </p>
</header>

<ul class="tags-list list-unstyled">
  <% @parents.each do |parent, children| %>
    <li class="parent-tag">
      <div class="details">
        <h2>
          <span class="tag-type"><%= parent.tag_type.humanize %>:</span>
          <%= parent.title %>
          <% if parent.draft? %>
            <span class="draft">draft</span>
          <% end %>
        </h2>
        <div class="actions">
          <%= link_to new_tag_path(type: parent.tag_type, parent_id: parent.tag_id), class: 'btn btn-default' do %>
            <i class="glyphicon glyphicon-plus"></i> Add child tag
          <% end %>
          <%= link_to "Edit tag", edit_tag_path(parent), class: 'btn btn-default' %>
        </div>
      </div>

      <ul class="children list-unstyled">
        <% children.each do |tag| %>
          <li class="child-tag">
            <h3>
              <%= link_to tag.title, edit_tag_path(tag) %>
              <%= link_to tag.tag_id, public_tag_url(tag), class: 'tag-id text-muted' %>
              <% if tag.draft? %>
                <span class="draft">draft</span>
              <% end %>
            </h3>
            <div class="actions">
              <%= link_to 'Edit tag', edit_tag_path(tag), class: 'btn btn-default' %>
            </div>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
