<%= content_for :page_title, "New tag" %>
<div class="page-header">
  <h1><%= yield :page_title %></h1>
</div>

<%= semantic_form_for @tag, url: tags_path(type: params[:type]) do |f| %>
  <% if f.object.errors.count > 0 %>
    <div class="form-errors">
      <ul>
        <% f.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="span10">
      <div class="well">
        <% if params[:type].present? %>
          <%= f.input :tag_type, as: :hidden %>
        <% end %>

        <%= f.input :tag_type, as: :select,
                             label: "Type",
                             collection: TagsController::TAG_TYPES.map {|type| [type.humanize, type] },
                             input_html: {
                               class: "span3",
                               disabled: params[:type].present?
                             }
                             %>

        <% if @tag.parent_id.present? %>
          <%= f.input :parent_id, label: "Parent",
                                  input_html: {
                                    class: "span5",
                                    disabled: "disabled"
                                  } %>
          <%= f.input :parent_id, as: :hidden %>

          <%= f.input :tag_id, as: :child_tag_id,
                               label: "Slug",
                               required: true,
                               input_html: {
                                 class: "span3"
                               } %>
        <% else %>
          <%= f.input :tag_id, label: "Slug",
                               required: true,
                               input_html: {
                                 class: "span5"
                               } %>
        <% end %>

        <%= f.input :title, input_html: { class: "span5" } %>

        <%= f.input :description, as: :text,
                                  input_html: {
                                    rows: 4,
                                    class: "span8"
                                  }
                                  %>
      </div>
    </div>
  </div>

  <div class="alert alert-info">Take care! All changes to tags appear immediately to users. If you're not sure what you're doing, please ask a developer.</div>

  <div class="form-actions">
    <%= f.submit :value => "Create tag", :class => "btn btn-primary" %>
  </div>
<% end %>
