<%= content_for :page_title, "Editing browse section #{@section.title}" %>

<% if flash[:error].present? %>
  <div class="alert alert-error"><%= flash[:error] %></div>
<% end %>

<div class="page-header">
  <h1><%= yield :page_title %></h1>
</div>
<div>
  <%= semantic_form_for(@section, as: :section, url: browse_section_path(@section)) do |f| %>
    <%= f.inputs do %>
      <%= f.input :title, :input_html => { :class => "span6" } %>
      <%= f.input :description, :input_html => { :class => "span6" } %>
      <%= f.input :tag_id, label: "Slug", :input_html => { :class => "span6", :disabled => true } %>
    <% end %>

    <% if @section.has_parent? %>
      <%= f.inputs do %>
        <h3>Curated Artefact List</h3>

        <p>The artefacts you choose will appear at the top of the section’s browse page. Any other artefacts in the section will appear below them.</p>

        <p>Click and drag to reorder</p>
        <div class="curated-artefact-group">
          <% if @curated_list.artefacts.any? %>
            <% @curated_list.artefacts.each do |artefact| %>
              <%= render :partial => 'artefact', :locals => { artefact_id: artefact.id, is_template: false } %>
            <% end %>
          <% else %>
            <%= render :partial => 'artefact', :locals => { artefact_id: nil, is_template: false } %>
          <% end %>
        </div>
        <%= render :partial => 'artefact', :locals => { artefact_id: nil, is_template: true } %>
        <button id="add-curated-artefact" class="btn btn-success" type="button">Add another artefact</button>
      <% end %>
    <% end %>

    <hr>

    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>

<%= content_for :extra_javascript do %>
  <script type="text/javascript">
    $('.curated-artefact-group').sortable();
  </script>
<% end %>
