<%= content_for :page_title, "Edit module" %>

<% if flash[:error].present? %>
  <div class="alert alert-error"><%= flash[:error] %></div>
<% end %>

<div class="page-header">
  <h1><%= yield :page_title %></h1>
</div>

<div>
  <%= semantic_form_for(@section_module, as: :section_module, url: section_module_path(@section_module)) do |f| %>
    <%= render 'form', form: f, section_module: @section_module %>
  <% end %>
</div>