<div id="filters">
  <h3>Filters</h3>

  <%= form_tag "", method: :get do |f| %>
    <div class="form-group">
      <label for="kind">Format</label>
      <%= select_tag :kind, options_from_formats_for_select(@filters[:kind]), class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="owned_by">Application</label>
      <%= select_tag :owned_by, options_from_owning_apps_for_select(@filters[:owned_by]), class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="state">State</label>
      <%= select_tag :state, options_from_states_for_select(@filters[:state]), class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="search">Contains</label>
      <%= text_field_tag "search", @filters[:search], class: "form-control", type: "search" %>
    </div>

    <div>
      <p><%= submit_tag "Update results", name: nil, class: "btn btn-primary" %></p>

      <% if @filters.values.reject(&:blank?).any? %>
        <p><%= link_to "Clear filters", artefacts_path, class: "btn btn-danger" %></p>
      <% end %>
    </div>

  <% end %>
</div>
