<% if flash[:notice].present? %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<% if artefact.errors.count > 0 %>
  <div class="alert alert-error">
    <ul>
      <% artefact.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if artefact.archived? %>
  <div class="alert alert-error">
    <h2>Stop! You can't edit this artefact because it has been archived.</h2>
  </div>
<% else %>
  <%= semantic_bootstrap_nested_form_for(artefact, :html => { :class => 'artefact', :id => 'edit_artefact'}) do |f| %>

    <div class="row-fluid">
      <div class="span8">
        <% if artefact.new_record? %>
        <div class="well">
          <%= f.input :name %>
          <%= f.input :slug %>

          <%= f.input :kind, :collection => non_whitehall_formats.map { |s| [s.humanize, s]}, :as => :select, :class => "span6", :prompt => "Select a kind" %>
          <%= f.input :owning_app, :as => :hidden, :input_html => {:value => "publisher"} %>
        </div>
        <% end %>

        <div class="well">
          <%= f.inputs "Related content" do %>
            <div class="related-artefacts fieldset-section">
              <label class="section-label">Related artefacts <span class="hint">(click and drag to reorder)</span></label>

              <div class="nested-item-group related-artefact-group">
                <% if artefact.related_artefact_ids.length > 0 %>
                  <% artefact.related_artefact_ids.each do |related_artefact_id| %>
                    <%= render :partial => 'related_artefact', :locals => { related_artefact_id: related_artefact_id, is_template: false } %>
                  <% end %>
                <% else %>
                  <%= render :partial => 'related_artefact', :locals => { related_artefact_id: nil, is_template: false } %>
                <% end %>
              </div>

              <%= render :partial => 'related_artefact', :locals => { related_artefact_id: nil, is_template: true } %>
              <button id="add-related" class="btn btn-success" type="button">Add another related item</button>
            </div>

            <div class="related-external-links fieldset-section">
              <label class="section-label">Related external links</label>

              <%= f.fields_for :external_links do |link| %>
                <div class="row-fluid nested-item">
                  <div class="span4">
                    <%= link.label :title, "Title" %>
                    <%= link.text_field :title, :class => "span12" %>
                  </div>
                  <div class="span5">
                    <%= link.label :url, "URL" %>
                    <%= link.text_field :url, :class => "span12" %>
                  </div>
                  <div class="span3">
                    <br>
                    <%= link.link_to_remove "Remove this URL", :class => "remove-row" %>
                  </div>
                </div>
              <% end %>
              <%= f.link_to_add "Add related external link", :external_links, :class => "btn btn-success" %>
            </div>
          <% end %>
        </div>

        <div class="well">
          <%= f.inputs "Tags" do %>
            <div class="section-tags fieldset-section">
              <label for="artefact[sections][]" class="section-label">Sections</label>

              <p>The first section will be the primary section the content lives in. This will form the content breadcrumb.</p>
              <div class="nested-item-group">
                <% if artefact.section_ids.length > 0 %>
                  <% artefact.section_ids.each do | section_id | %>
                    <%= render :partial => 'artefact_section', :locals => {:section_id => section_id, :tag_collection => tag_collection} %>
                  <% end %>
                <% else %>
                  <%= render :partial => 'artefact_section', :locals => {:section_id => nil, :tag_collection => tag_collection} %>
                <% end %>
              </div>

              <button id="add-section" class="btn btn-success" type="button">Add another section</button>
            </div>

            <div class="legacy-source-tags fieldset-section">
              <label for="artefact_legacy_source_ids" class="section-label">Legacy sources</label>

              <%= f.input :legacy_source_ids,
                          :label => false,
                          :collection => options_for_tags_of_type('legacy_source'),
                          :input_html => { :multiple => true, :class => "span12 chzn-select" } %>
            </div>

            <div class="industry-sector-tags fieldset-section">
              <label for="artefact_industry_sector_ids" class="section-label">Industry sectors</label>

              <%= f.input :industry_sector_ids,
                          :label => false,
                          :collection => grouped_options_for_tags_of_type('industry_sector'),
                          :input_html => { :multiple => true, :class => "span12 chzn-select" } %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="span4">
        <% if @artefact.persisted? && @artefact.owning_app.present? %>
          <div class="well owning-app">
            <p>This content is managed in <strong><%= @artefact.owning_app.humanize %></strong>.</p>
            <% if @artefact.owning_app == "publisher" %>
              <%= link_to "Edit in Publisher", admin_url_for_edition(@artefact), :class => "btn" %>
            <% end %>
          </div>
        <% end %>

        <div class="well">
          <%= render :partial => "need", :locals => { :f => f } %>
        </div>

        <div class="well">
          <%= f.inputs "Contacts" do %>
            <%= f.input :department, :label => "Writing team", :input_html => { :disabled => f.object.persisted?, :class => "span10"} %>
            <%= f.input :fact_checkers, :input_html => { :disabled => f.object.persisted?, :class => "span10"} %>
          <% end %>
        </div>

        <div class="well">
          <%= f.input :language, :collection => {"English" => "en", "Welsh" => "cy"}, :as => :select, :input_html => { :class => "span8" }, :include_blank => false %>
          <%= f.input :business_proposition, :label => 'Is this business content?', :as => :boolean %>
          <%= f.input :need_extended_font, :label => "Does this artefact need the extra font files?", :as => :boolean %>
        </div>
      </div>
    </div>

    <hr>

    <%= f.submit :value => "Save and continue editing", :class => "btn btn-primary" %>
    <%= f.submit :value => "Save and go to item", :class => "btn" %>
  <% end %>
<% end %>

<%= content_for :extra_javascript do %>
  <script type="text/javascript">
    $(".chzn-select").chosen();

    $('.related-artefact-group').sortable();

    if ($('.artefact-section').size() == 1) {
      $('.remove-section').hide();
    }
  </script>
<% end %>
