<% if flash[:notice].present? %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<% if artefact.errors.count > 0 %>
  <div class="alert alert-error">
    <ul>
      <% artefact.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if artefact.archived? %>
  <div class="alert alert-error">
    <h2>Stop! You can't edit this artefact because it has been archived.</h2>
  </div>
<% else %>
  <%= semantic_bootstrap_nested_form_for(artefact, :html => { :class => 'artefact', :id => 'edit_artefact'}) do |f| %>

    <div class="row-fluid">
      <div class="span8">

        <% if f.object.new_record? || f.object.state == "draft" %>
          <%= render partial: "artefacts/form/core_attributes", locals: { f: f, artefact: artefact } %>
        <% end %>

        <div class="well">
          <%= render :partial => "artefacts/form/module_image", :locals => { :f => f, :artefact => artefact } %>
        </div>

        <div class="well">
          <%= f.inputs "Organisations" do %>
            <%= f.input :organization_name, :label => "Is the content about specific member(s) or startup(s)?", :collection => @organizations, :as => :select, :input_html => {:class => "span8"}, :multiple => true, :size => 5 %>
          <% end %>
        </div>

        <%= render partial: "artefacts/form/related_content", locals: { f: f } %>
        <%= render partial: "artefacts/form/tags", locals: { f: f, tag_collection: tag_collection } %>

      </div>

      <div class="span4">

        <%= render partial: "artefacts/form/featured", locals: { f: f } %>

        <div class="well">
          <%= f.inputs "Role" do %>
          <%= f.input :roles, :collection => @roles, :as => :check_boxes, :label => 'What project(s) is this content for?' %>
          <% end %>
        </div>

        <div class="well">
          <%= render :partial => "artefacts/form/author", :locals => { :f => f } %>
        </div>

        <div class="well">
          <%= f.inputs "Nodes" do %>
            <%= f.input :node, :collection => @nodes, :label => 'Is the content about specific node(s)?', :as => :select, :input_html => {:class => "span8"}, :multiple => true, :size => 5 %>
          <% end %>
        </div>

        <div class="well">
          <%= f.input :language, :collection => {"English" => "en", "Welsh" => "cy"}, :as => :select, :input_html => { :class => "span8" }, :include_blank => false %>
        </div>

        <% if @artefact.persisted? && @artefact.owning_app.present? %>
          <div class="well owning-app">
            <p>This content is managed in <strong><%= @artefact.owning_app.humanize %></strong>.</p>
            <% if @artefact.owning_app == "publisher" %>
              <%= link_to "Edit in Publisher", admin_url_for_edition(@artefact), :class => "btn" %>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>

    <div class="form-actions">
      <%= f.submit :value => "Save and continue editing", :class => "btn btn-primary" %>
      <%= f.submit :value => "Save and go to item", :class => "btn" %>
    </div>
  <% end %>
<% end %>

<%= content_for :extra_javascript do %>
  <script type="text/javascript">
    $(".chzn-select").chosen();

    $('.related-artefact-group').sortable();

    if ($('.artefact-section').size() == 1) {
      $('.remove-section').hide();
    }
  </script>
<% end %>
