<% if flash[:notice].present? %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<% if artefact.errors.count > 0 %>
  <div class="alert alert-error">
    <ul>
      <% artefact.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="well">
  <%= semantic_form_for(artefact, :html => { :class => '' }) do |f| %>
    <%= f.inputs do %>
      <%= f.input :name, :input_html => { :class => "span6" } %>
      <%= f.input :slug, :input_html => { :class => "span6", :disabled => f.object.persisted? } %>
      <%= f.input :need_id, :input_html => { :class => "span6", :disabled => f.object.persisted? } %>
      <% if ! artefact.new_record? && ! artefact.business_proposition %>
          <%= link_to "View in Need-O-Tron", need_url(f.object), :rel => 'external', :class => "btn btn-primary" %>
          <%= link_to "View on site", published_url(f.object), :rel => 'external', :class => "btn btn-primary" %>
      <% end %>

      <hr>

      <%= f.input :business_proposition, :label => 'Business Content?', :as => :boolean %>

      <hr>

      <% if artefact.new_record? %>
        <%= f.input :kind, :collection => Artefact::FORMATS.map { |s| [s.humanize, s]}, :as => :select, :class => "span6", :prompt => "Select a kind" %>
      <% end %>
      <%= f.input :section, :as => :select, :collection => Section.all.map { |s| [s.to_s, s.slug] }, :prompt => "Select a section" %>
    <% end %>

    <hr>

    <%= f.inputs do %>
      <input name="artefact[related_artefact_ids][]" type="hidden" value="">
      <%= f.input :related_artefacts, :collection => Artefact.in_alphabetical_order, :input_html => { :multiple => true, :class => "span6 chzn-select" } %>
      <%= f.input :relatedness_done, :label => "Is relatedness done?", :as => :boolean %>
    <% end %>

    <hr>

    <%= f.inputs do %>

      <%= f.input :department, :label => "Writing team", :input_html => { :disabled => f.object.persisted?, :class => "span6"} %>
      <%= f.input :fact_checkers, :input_html => { :disabled => f.object.persisted?, :class => "span6"} %>
      <%= f.input :contact, :as => :hidden, :collection => Contact.in_alphabetical_order %>

    <% end %>

    <% if artefact.new_record? %>
      <%= f.input :owning_app, :as => :hidden, :input_html => {:value => "publisher"} %>
    <% end %>

    <hr>

    <%= f.input :tags, :input_html => {:class => "span6"} %>

    <% if f.object.persisted? %>
      <%= f.submit :value => "Save and continue editing", :class => "btn" %>
    <% end %>
    <%= f.submit :value => "Save and go to item", :class => "btn btn-success" %>
  <% end %>
</div>

<%= content_for :extra_javascript do %>
<%= javascript_include_tag('chosen.jquery.min.js', 'artefacts') %>
  <script type="text/javascript"> $(".chzn-select").chosen(); </script>
<% end %>
<% content_for :extra_headers, stylesheet_link_tag('chosen') %>
