<% if flash[:notice].present? %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<% if artefact.errors.count > 0 %>
  <div class="alert alert-error">
    <ul>
      <% artefact.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <% if artefact.archived? %>
    <div class="alert alert-error">
      <h2>Stop! You can't edit this artefact because it has been archived.</h2>
    </div>
  <% else %>
  <div class="well">
    <%= semantic_bootstrap_nested_form_for(artefact, :html => { :class => '', :id => 'edit_artefact'}) do |f| %>
      <%= f.inputs do %>
        <%= f.input :name, :input_html => { :class => "span6", :disabled => f.object.persisted?}, :hint => name_hint_for(f.object) %>
        <%= f.input :description, :input_html => { :class => "span6", :disabled => true, :rows => 6 }, :hint => 'Managed through API and/or owning app', :as => :text %>
        <%= f.input :slug, :input_html => { :class => "span6", :disabled => f.object.live? }, :hint => "A valid slug might look like this: i-am-a-good-slug-with-no-spaces" %>
        <%= f.input :need_extended_font, :label => "Does this artefact need the extra font files?", :as => :boolean %>
        <%= f.input :need_id, :input_html => { :class => "span6", :disabled => !f.object.need_id_editable? } %>
        <%= f.input :author, :collection => Artefact.where(:kind => "person").to_a.map {|p| [p.name, p.slug]}, :as => :select, :input_html => {:class => "span2"}, :include_blank => false %>
        <% if ! artefact.new_record? && ! artefact.business_proposition %>
            <%= link_to "View in Need-O-Tron", need_url(f.object), :rel => 'external', :class => "btn btn-primary" %>
        <% end %>
        <%= link_to "View on site", published_url(f.object), :rel => 'external', :class => "btn btn-primary" unless f.object.new_record? %>

        <hr>

        <%= f.input :language, :collection => {"English" => "en", "Welsh" => "cy"}, :as => :select, :input_html => { :class => "span2" }, :include_blank => false %>
        <%= f.input :business_proposition, :label => 'Is this business content?', :as => :boolean %>

        <hr>
        <input type="hidden" name="artefact[sections][]" value="" />
        <% if artefact.new_record? %>
          <%= f.input :kind, :collection => non_whitehall_formats.map { |s| [s.humanize, s]}, :as => :select, :class => "span6", :prompt => "Select a kind" %>
        <% end %>
        
        <% @tags.each do |type, tags| %>
          <div class="tag <%= type.to_s %>-tags <%= "hidden" unless artefact.kind == type.to_s  %>">
            <label for="artefact[<%= type %>][]"><%= type.to_s.humanize %> category</label>
            <% if artefact.send("#{type}_ids").length > 0 %>
              <% artefact.send("#{type}_ids").each do |tag_id| %>
                <%= render :partial => 'tag_section', :locals => {:tag_id => tag_id, :tag_collection => tags, :type => type} %>
              <% end %>
            <% else %>
              <%= render :partial => 'tag_section', :locals => {:tag_id => nil, :tag_collection => tags, :type => type} %>
            <% end %>
            <hr>
          </div>
        <% end %>

        <label for="artefact[sections][]">Sections</label>
        <p>The first section will be the primary section the content lives in. This will form the content breadcrumb.</p>
        <% if artefact.section_ids.length > 0 %>
          <% artefact.section_ids.each do | section_id | %>
            <%= render :partial => 'artefact_section', :locals => {:section_id => section_id, :tag_collection => tag_collection} %>
          <% end %>
        <% else %>
          <%= render :partial => 'artefact_section', :locals => {:section_id => nil, :tag_collection => tag_collection} %>
        <% end %>

        <button id="add-section" class="btn btn-success" type="button">Add another section</button>
      <% end %>

      <hr>

      <%= f.inputs do %>
        <label for="artefact[related_artefact_ids][]">Related content</label>
        <p>Click and drag to reorder</p>
        <div class="related-artefact-group">
          <% if artefact.related_artefact_ids.length > 0 %>
            <% artefact.related_artefact_ids.each do |related_artefact_id| %>
              <%= render :partial => 'related_artefact', :locals => { related_artefact_id: related_artefact_id, is_template: false } %>
            <% end %>
          <% else %>
            <%= render :partial => 'related_artefact', :locals => { related_artefact_id: nil, is_template: false } %>
          <% end %>
        </div>

        <%= render :partial => 'related_artefact', :locals => { related_artefact_id: nil, is_template: true } %>
        <button id="add-related" class="btn btn-success" type="button">Add another related item</button>
      <% end %>

      <hr>

      <%= f.inputs do %>
        <div class="related-external-links">
          <label>Related external links</label>
          <%= f.fields_for :external_links do |link| %>
            <div class="row-fluid">
              <div class="span4">
                <%= link.label :title, "Title" %>
                <%= link.text_field :title %>
              </div>
              <div class="span4">
                <%= link.label :url, "URL" %>
                <%= link.text_field :url %>
              </div>
              <div class="span4">
                <br>
                <%= link.link_to_remove "Remove this URL", :class => "btn btn-danger" %>
              </div>
            </div>
          <% end %>
          <%= f.link_to_add "Add related external link", :external_links, :class => "btn btn-success" %>
        </div>
      <% end %>

      <hr>

      <%= f.input :legacy_source_ids, :label => "Legacy sources", :collection => options_for_tags_of_type('legacy_source'), :input_html => { :multiple => true, :class => "span6 chzn-select" } %>


      <%= f.inputs do %>

        <%= f.input :department, :label => "Writing team", :input_html => { :disabled => f.object.persisted?, :class => "span6"} %>
        <%= f.input :fact_checkers, :input_html => { :disabled => f.object.persisted?, :class => "span6"} %>

      <% end %>

      <% if artefact.new_record? %>
        <%= f.input :owning_app, :as => :hidden, :input_html => {:value => "publisher"} %>
      <% end %>

      <hr>

      <% if f.object.persisted? %>
        <%= f.submit :value => "Save and continue editing", :class => "btn" %>
      <% end %>
      <%= f.submit :value => "Save and go to item", :class => "btn btn-success" %>
    <% end %>
  </div>
<% end %>

<%= content_for :extra_javascript do %>
  <script type="text/javascript">
    $(".chzn-select").chosen();

    $('.related-artefact-group').sortable();

    if ($('.artefact-section').size() == 1) {
      $('.remove-section').hide();
    }
  </script>
<% end %>
