<% if artefact.errors.count > 0 %>
  <div class="alert alert-danger">
    <ul>
      <% artefact.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if artefact.archived? %>
  <div class="alert alert-danger">
    <h2>Stop! You can’t edit this artefact because it has been withdrawn.</h2>
  </div>
<% else %>
  <%= semantic_bootstrap_nested_form_for(artefact, :html => { :class => 'artefact', :id => 'edit_artefact'}) do |f| %>

    <div class="row">
      <div class="col-md-8">
        <% if f.object.new_record? || f.object.state == "draft" %>
          <%= render partial: "artefacts/form/core_attributes", locals: { f: f } %>
        <% end %>

        <%= render partial: "artefacts/form/related_content", locals: { f: f } %>
        <%- unless f.object.app_without_tagging_support? %>
          <%= render partial: "artefacts/use_content_tagger", locals: { f: f, artefact: artefact } %>
        <% end %>
      </div>

      <div class="col-md-4">
        <% if artefact.persisted? && artefact.owning_app.present? %>
          <%= render partial: "artefacts/form/owning_app", locals: { artefact: artefact } %>
        <% end %>

        <%= render partial: "artefacts/form/need", locals: { f: f } %>

        <%= render partial: "artefacts/form/additional_information", locals: { f: f } %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit :value => "Save and continue editing", :class => "btn btn-primary" %>
      <%= f.submit :value => "Save and go to item", :class => "add-left-margin btn btn-default" %>
    </div>
  <% end %>
<% end %>

<%= content_for :extra_javascript do %>
  <script type="text/javascript">
    $(".chosen-select").chosen();

    $('.related-artefact-group').sortable();

    if ($('.artefact-section').size() == 1) {
      $('.remove-section').hide();
    }
  </script>
<% end %>
