<div id="panopticon" class="ui-widget-content">

  <%= semantic_form_for(artefact, :html => { :class => 'artefact' }) do |f| %>
    <%= f.inputs :name => "Basic information" do %>
      <%= f.input :name %>
      <%= f.input :slug %>
      <%= f.input :section, :as => :select, :collection => Artefact::SECTIONS %>
      <%= f.input :need_id, :input_html => { :disabled => true } %>(<%= link_to "View this need in Need-O-Tron", Plek.current.find('needotron') + "/needs/#{@artefact.need_id}" %>)
      <%= f.input :department, :label => "Writing team", :input_html => { :disabled => true } %>
      <%= f.input :fact_checkers, :input_html => { :disabled => true } %>
      <%= f.input :contact, :collection => Contact.in_alphabetical_order %>
      <% if artefact.new_record? %>
        <%= f.input :kind, :collection => Artefact::FORMATS, :as => :select %>
      <% end %>
    <% end %>
    <%= f.inputs "Related items", :class => "related" do %>
      <% f.semantic_fields_for :related_items, related_items_for(artefact) do |related_item| %>
        <%= related_item.input :artefact, :as => :select, :collection => Artefact.in_alphabetical_order, :label => false %>
        <%= related_item.input :sort_key, :as => :hidden %>
      <% end %>
    <% end %>
    <% if artefact.new_record? %>
      <%= f.input :owning_app, :as => :hidden, :value => "publisher" %>
    <% end %>
    <%= f.input :tags %>
    <%= f.submit :value => "Satisfy my need", :class => "button" %>
  <% end %>

<%= javascript_tag do %>
(function() {
  var blankByDefault = ($("#artefact_slug").attr('value') != '');
  var generateSlug = function generateSlug() {
    if(blankByDefault) { return }
    var title = $("#artefact_name").val();
    var slug = title.toLowerCase()
      .replace(/[^\w ]+/g, '')
      .replace(/ +/g, '-')
      .replace(/^-+|-+$/, '')
    $("#artefact_slug").val(slug);
  }
  $("#artefact_name").change(generateSlug)
  $("#artefact_name").bind('keyup', generateSlug)
}())
<% end %>

</div>
