<% if flash[:notice].present? %>
<p class="flash-notice"><%= flash[:notice] %></p>
<% end %>

<div id="panopticon" class="ui-widget-content">
  <%= semantic_form_for(artefact, :html => { :class => 'artefact' }) do |f| %>
    <%= f.inputs :name => "Basic information" do %>
      <%= f.input :name %>
      <%= f.input :slug, :input_html => { :disabled => true } %>
      <%= f.input :section, :as => :select, :collection => Artefact.sections.map {|s| [s.gsub(':', ' > '), s] } %>
    <% end %>
    <%= f.inputs "Related items", :class => "related" do %>
      <%= f.semantic_fields_for :related_items, related_items_for(artefact) do |related_item| %>
        <%= related_item.input :artefact, :as => :select, :collection => Artefact.in_alphabetical_order, :label => false %>
        <%= related_item.input :sort_key, :as => :hidden %>
      <% end %>
      <%= f.input :relatedness_done %>
    <% end %>

    <%= f.inputs do %>
      <li>
      <%= f.label :need_id %>
      <%= f.number_field :need_id, disabled: true %>
      <span>
      <%= link_to "View in Need-O-Tron", need_url(f.object), :rel => 'external' %> |
      <%= link_to "View on site", published_url(f.object), :rel => 'external' %>
      </span>
      </li>

      <%= f.input :department, :label => "Writing team", :input_html => { :disabled => true } %>
      <%= f.input :fact_checkers, :input_html => { :disabled => true } %>
      <%= f.input :contact, :collection => Contact.in_alphabetical_order %>
      <% if artefact.new_record? %>
        <%= f.input :kind, :collection => Artefact::FORMATS, :as => :select %>
      <% end %>
    <% end %>

    <% if artefact.new_record? %>
      <%= f.input :owning_app, :as => :hidden, :value => "publisher" %>
    <% end %>
    <%= f.inputs :tags %>

    <% if f.object.persisted? %>
      <%= f.submit :value => "Save and continue editing", :class => "button" %>
    <% end %>
    <%= f.submit :value => "Save and go to item", :class => "button" %>
  <% end %>
</div>

<%= content_for :extra_javascript, javascript_include_tag('libs/jquery/plugins/chosen.jquery.min.js', 'artefacts') %>
<% content_for :extra_headers, stylesheet_link_tag('libs/jquery/plugins/chosen') %>
