<% if flash[:notice].present? %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<% if artefact.errors.count > 0 %>
  <div class="alert alert-error">
    <ul>
      <% artefact.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if artefact.archived? %>
  <div class="alert alert-error">
    <h2>Stop! You can't edit this artefact because it has been archived.</h2>
  </div>
<% else %>
  <%= semantic_bootstrap_nested_form_for(artefact, :html => { :class => 'artefact', :id => 'edit_artefact'}) do |f| %>
    <div class="row-fluid">
      <div class="span12">
        <div class="well">
          <%= f.input :name, :input_html => { :class => "span6" } %>
          <%= f.input :description, :input_html => { :class => "span6", :rows => 6 }, :as => :text %>
          <%= f.input :slug, :input_html => { :class => "span6" }, :hint => "Inside government slugs are: <code>government/the-slug</code>. Detailed guides are simply: <code>the-slug</code>".html_safe %>

          <% if artefact.new_record? %>
            <%= f.input :kind, :collection => Artefact::FORMATS_BY_DEFAULT_OWNING_APP["whitehall"].map { |s| [s.humanize, s]}, :as => :select, :class => "span6", :prompt => "Select a kind" %>
          <% end %>
        </div>

        <%= render partial: "artefacts/form/tags", locals: { f: f, tag_collection: tag_collection } %>
      </div>

      <%= f.input :owning_app, :as => :hidden %>
      <%= f.input :state, :as => :hidden, :input_html => { :value => "live" } %>
    </div>

    <div class="form-actions">
      <%= f.submit :value => "Save and continue editing", :class => "btn btn-primary" %>
    </div>
  <% end %>
<% end %>

<%= content_for :extra_javascript do %>
  <script type="text/javascript">
    $(".chzn-select").chosen();

    if ($('.artefact-section').size() == 1) {
      $('.remove-section').hide();
    }
  </script>
<% end %>
