<%= content_for :page_title, "Editing artefact #{@artefact.name}" %>
<div class="artefact-header">
  <div class="artefact-title">
    <h1><%= @artefact.name %></h1>
    <h2>
      <%= link_to "/#{@artefact.slug}", published_url(@artefact) %>
      <span class="state state-<%= @artefact.state %>"><%= @artefact.state %></span>
    </h2>
  </div>
  <div class="artefact-actions">
    <%= link_to "", class: 'btn' do %>
      <i class="icon-time"></i> See history
    <% end %>

    <% unless @artefact.archived? %>
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        More
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="#archive" role="button" data-toggle="modal">Archive</a>
        </li>
      </ul>
    <% end %>
  </div>
</div>

<% if "whitehall" == @artefact.owning_app %>
  <%= render 'whitehall_form', artefact: @artefact, tag_collection: @tag_collection %>
<% else %>
  <%= render 'form', artefact: @artefact, tag_collection: @tag_collection %>
<% end %>
