<%= content_for :page_title, "History - #{@artefact.name}" %>
<%= render partial: "artefact_header" %>

<h3>History</h3>

<div class="well">
  <dl class="dl-horizontal">
  <% @actions.each do |action| %>
    <dt><%= human_timestamp(action.created_at) %></dt>
    <dd>
      <p>
        <%= action_information_phrase(action) %>
      </p>
      <% unless action.initial? %>
        <% if action.changes.empty? %>
        No changes
        <% else %>
        Changed fields:
        <ul>
          <% action.changes.each do |key, values| %>
            <li><code><%= key %></code>
              from <%= values[0].inspect %> to <%= values[1].inspect %></li>
          <% end %>
        </ul>
        <% end %>
      <% end %>
    </dd>
  <% end %>
  </dl>
</div>
