<%= content_for :page_title, "History - #{@artefact.name}" %>
<%= render partial: "artefact_header", locals: { actions: [:edit] } %>

<h3>History</h3>

<div class="well">
  <dl class="dl-horizontal">
  <% @actions.each do |action| %>
    <dt><%= human_timestamp(action.created_at) %></dt>
    <dd>
      <p>
      <% if ! action.user and action.action_type == "snapshot" %>
        Automatic snapshot
      <% else %>
        <%= action.user || "An unknown user" %>
        <% case action.action_type %>
        <% when "create" %>
          created this artefact
        <% when "update" %>
          updated this artefact
        <% else %>
          did a "<%= action.action_type %>" action
        <% end %>
      <% end %>
      </p>
      <% unless action.initial? %>
        <% if action.changes.empty? %>
        No changes
        <% else %>
        Changed fields:
        <ul>
          <% action.changes.each do |key, values| %>
            <li><code><%= key %></code>
              from <%= values[0].inspect %> to <%= values[1].inspect %></li>
          <% end %>
        </ul>
        <% end %>
      <% end %>
    </dd>
  <% end %>
  </dl>
</div>
