<h2>Everything We Have</h2>

<table id="solution-list" border="2">
  <thead>
    <tr>
      <th>Title</th>
      <th>Section</th>
      <th>Related Items</th>
      <th>Slug</th>
    </tr>
  </thead>
  <tbody>
  <% @artefacts.each do |artefact| %>
    <tr>
      <td><%= link_to artefact.name, edit_artefact_path(artefact.id) %></td>
      <td><%= artefact.section %></td>
      <td><%= artefact.related_items_count %></td>
      <td><%= link_to artefact.slug, "https://www.gov.uk/#{artefact.slug}" %></td>
  <% end %>
  </tbody>
</table>

<style type="text/css">
#solution-list th {
  text-align: left;
}
#solution-list th, td {
  padding: 0.5em;
}
</style>

<%= javascript_include_tag '/javascripts/libs/jquery/plugins/jquery.tablesorter.min.js' %>
<script type="text/javascript">
$(function () {
  $('#solution-list').tablesorter();
});
</script>