<h2>Everything We Have</h2>

<p class="buttons">
  <%= link_to 'Add item', new_artefact_path %>
</p>
<table id="solution-list" border="2">
  <thead>
    <tr>
      <th>Need</th>
      <th>Title</th>
      <th>Format</th>
      <th>Section</th>
      <th>Related Items</th>
      <th>Relatedness Done?</th>
      <th>App</th>
      <th>Slug</th>
    </tr>
  </thead>
  <tbody>
  <% @artefacts.each do |artefact| %>
    <tr>
      <td><%= artefact.need_id %></td>
      <td><%= link_to artefact.name, edit_artefact_path(artefact.id) %></td>
      <td><%=h artefact.kind %></td>
      <td><%=h artefact.section %></td>
      <td><%=h artefact.related_artefacts.count %></td>
      <td><%=h artefact.relatedness_done %></td>
      <td><%= artefact.owning_app %></td>
      <td><%= link_to artefact.slug, "https://www.gov.uk/#{artefact.slug}" %></td>
  <% end %>
  </tbody>
</table>

<style type="text/css">
#solution-list th {
  text-align: left;
}
#solution-list th, td {
  padding: 0.5em;
}
</style>

<%= javascript_include_tag '/javascripts/libs/jquery/plugins/jquery.tablesorter.min.js' %>
<script type="text/javascript">
$(function () {
  $('#solution-list').tablesorter();
});
</script>
