<%= content_for :page_title, "List artefacts" %>
<%= content_for :full_width, true %>
<div class="artefacts-container">
  <div class="row">
    <div class="col-md-3">
      <div class="artefact-count">
        <span class="big-number"><%= number_with_delimiter(@artefacts.count) %></span><br />
        <%= "artefact".pluralize(@artefacts.count) %>
      </div>
      <%= render :partial => "filters" %>
    </div>

    <div class="col-md-9">
      <table class="table table-striped table-bordered table-condensed" id="artefact-list" summary="List of everything">
        <thead>
          <tr class="table-header">
            <th scope="col"><%= sortable "need_id", "Needs" %></th>
            <th scope="col"><%= sortable "name", "Title" %></th>
            <th scope="col"><%= sortable "kind", "Format" %></th>
            <th scope="col">Primary section</th>
            <th scope="col">Other sections</th>
            <th scope="col">Related items</th>
            <th scope="col"><%= sortable "owning_app", "App" %></th>
            <th scope="col"><%= sortable "slug", "Slug" %></th>
          </tr>
        </thead>
        <tbody>
        <% @artefacts.each do |artefact| %>
          <tr class="<%= artefact.state %>">
            <td>
              <% if artefact.need_ids %>
                <% artefact.need_ids.each do |need_id| %>
                  <%= content_tag "span", need_id, :class => "label label-default need-id" %>
                <% end %>
              <% end %>
            </td>
            <td><%= link_to artefact.name, edit_artefact_path(artefact.id) %></td>
            <td>
              <small><%= artefact.kind.humanize %></small>
              <%= content_tag "span", artefact.language, :class => "language_icon lang_#{artefact.language}" %>
            </td>
            <td><%= artefact.owning_app.underscore.humanize %></td>
            <td><%= link_to artefact.slug, published_url(artefact) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @artefacts, theme: 'twitter-bootstrap-3' %>
    </div>
  </div>
</div>
