<!DOCTYPE html>
<html>
<head>
  <title><%= yield :page_title %> | ODI Panopticon</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application.css' %>
  <%= yield :extra_headers %>
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "html5" %>
  <![endif]-->
  <%= javascript_include_tag "application" %>
</head>

<body>
  <header class="navbar navbar-fixed-top" role="banner">
    <div class="navbar-inner">
      <div class="container-fluid">
        <%= link_to 'Panopticon', root_path, :class => "brand" %>
        <% if user_signed_in? %>

        <nav role="navigation" class="nav-collapse">
          <ul class="nav">
            <%= nav_link 'All artefacts', artefacts_path %>
            <%= nav_link 'Add artefact', new_artefact_path %>
            <%= nav_link 'Add Whitehall artefact', new_artefact_path(owning_app: "whitehall") %>
            <% if current_user.has_permission?("Browse section admin") %>
              <%= nav_link 'Browse sections', browse_sections_path %>
            <% end %>
          </ul>
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#"
                class="dropdown-toggle"
                data-toggle="dropdown">
                Services
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="http://digital.cabinetoffice.gov.uk/">GDS blog</a></li>
                <li><a href="http://wiki.digital.cabinet-office.gov.uk/">GDS wiki</a></li>
                <li class="divider"></li>
                <li><%= link_to 'Analytics', 'https://www.google.com/analytics/web/#dashboard/default/a26179049w50705554p51337955/'%></li>
                <li class="divider"></li>
                <li><%= link_to 'Sign out', gds_sign_out_path %></li>
              </ul>
            </li>
          </ul>

          <p class="navbar-text pull-right">Signed in as <a href="<%= Plek.current.find('signon') %>"><%= current_user.name %></a></p>
        </nav>

        <% end %>
      </div>
    </div>
  </header>

  <section class="container-fluid" role="main">
    <%= yield %>
    <hr>
    <footer>
      <p>&copy; GDS. <span class="pull-right">Panopticon release: <%= CURRENT_RELEASE_SHA %></span> </p>
    </footer>
  </section>

  <%= yield :extra_javascript %>

</body>
</html>
