<!DOCTYPE html>
<html>
<head>
  <title>Panopticon</title>
  <%= stylesheet_link_tag '/stylesheets/formtastic.css', '/stylesheets/formtastic_changes.css' %>
  <meta name="x-section-name" content="Panopticon" />
  <meta name="x-section-link" content="panopticon" />
  <%= csrf_meta_tags %>
  <%= yield :extra_headers %>
</head>
<body>
  <div id="wrapper" class="wrapper">
    <h1 id="site-title">Panopticon</h1>
    <div class="content" role="main">
      <%= yield %>
      <%= yield :extra_javascript %>
    </div>
  </div>
</body>
</html>
