<!DOCTYPE html>
<html>
<head>
  <title>Panopticon</title>
  <%= stylesheet_link_tag '/stylesheets/formtastic.css', '/stylesheets/formtastic_changes.css' %>
  <%= csrf_meta_tags %>
  <%= yield :extra_headers %>
  <%= stylesheet_link_tag 'bootstrap.min.css', 'bootstrap-responsive.min.css', 'application.css' %>

</head>
<body>
  <div id="wrapper" class="wrapper">
    <h1 id="site-title">Panopticon</h1>
    <nav class="admin-nav group" role="navigation">
      <ul>
        <li class="publications-nav">
          <ul>
            <li><%= link_to 'Sign out', gds_sign_out_path %></li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="content" role="main">
      <%= yield %>
    </div>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <%= javascript_include_tag('bootstrap.min.js') %>
  <%= yield :extra_javascript %>

</body>
</html>
